html,
body {
  height: 100%;
  font-family: 'Inter';
   font-weight: normal;
   font-style: normal;
  font-size: calc(14px + (15 - 14) * ((100vw - 360px) / (1920 - 360)));
  line-height: calc(18px + (20 - 18) * ((100vw - 360px) / (1920 - 360)));
  overflow-x: hidden;
  background: #FCFAF7;
}
textarea{
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
input {
	appearance: none;
}
.icon-burger-second {
	font-size: 40px !important;
}

.container{
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 15px;
  &-create{
	  padding: 64px 15px;
  }
}

.breadcrumbs{
	color: $secondText;
	display: flex;
	margin-top: 8px;
	&__title {
		margin-bottom: 8px;
	}
	&__link {
		&:not(:first-child) {
			margin-left: 6px;
		}
	}
	
}
.d-flex{
	display: flex !important;
}
.burgers-notMain{
	display: none;
}
.select{
	width: 100%;
	color: $input;
	position: relative;
	.icon{
		font-size: 10px;
		color: $textColor;
	}
	&-header{
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 12px 14px;
		height: 44px;
		border-radius: 9px;
		border: 1px solid $input;
		&.open{
			.icon{
				transform: rotate(180deg);
			}
		}
		&:hover,
		&.open{
			border-color: $mainColor;
		}
	}
	&-body{
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		z-index: 2;
		display: none;
		width: 100%;
		border-radius: 9px;
		border: 1px solid $mainColor;
		overflow: hidden;
		background: $white;
	}
	&-item{
		cursor: pointer;
		width: 100%;
		padding: 12px 14px;
		border-radius: 9px;
		&:hover{
			background: $mainColor;
			color: $white;
		}
	}
}
.counter{
   display: inline-block;
   padding: 4px 8px;
   color: $white;
   background-color: $mainColor;
   border-radius: 31px;
   font-size: 12px;
   line-height: 14px;
	&-employee{
		width: 16px;
		height: 16px;
		background: $white;
		color: $mainColor;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 10px;
		line-height: 12px;
		border-radius: 50%;
	}
}

.check{
      display: flex;
      align-items: center;
      color: $textColor;
		cursor: pointer;
		width: fit-content;
		&-Box{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 16px;
			height: 16px;
			border-radius: 3px;
			background: $white;
			border: 1px solid $input;
			// padding-top: 2px;
			.icon{
				color: $white;
				font-size: 8px;
			}
			&.active{
				background: $mainColor;
				border: none;
			}
			&:hover{
				border-color: $mainColor;
			}
		}
		&-label{
			margin-left: 6px;
		}
		&-round{
			display: flex;
			align-items: center;
			color: $textColor;
			cursor: pointer;
			width: fit-content;
			.check-Box{
				border-radius: 50%;
				&.active{
					background: $white;
					border: 5px solid $mainColor;
				}
			}
			&:hover{
				border-color: $mainColor;
			}
		}
}

.cardEmployee{
	// width: 423px;
	height: 225px;
	display: flex;
	&-photo{
		position: relative;
		width: 166px;
		height: 225px;
		border-radius: 12px;
		overflow: hidden;
		margin-right: 20px;
		img{
			height: 100%;
			object-fit: cover;
		}
	}
	&-rating{
		position: absolute;
		top: 10px;
		left: -19px;
		z-index: 2;
		width: 80px;
		height: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $mainColor;
		color: $white;
		font-size: 12px;
		line-height: 14px;
		transform: rotate(-45deg);
	}
	&-action{
		position: absolute;
		top: 10px;
		right: 8px;
		z-index: 2;
	}
	&-action__item{
		display: block;
		position: relative;
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $mainColor;
		color: $white;
		border-radius: 50%;
		&:not(:last-child){
			margin-bottom: 12px;
		}
		.counter-employee{
			position: absolute;
			top: -5px;
			right: -5px;
			z-index: 3;
		}
	}
	&-discr{
		flex: 1 0 auto;
	}
	&-title{
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		.icon{
			cursor: pointer;
			&.likes{
				color: $mainColor;
			}
		}
	}
	&-title__list{
		position: relative;
		cursor: pointer;
		width: max-content;
	}
	&-title__item{
		display: inline-block;
		width: 3px;
		height: 3px;
		background: $mainColor;
		border-radius: 50%;
		&:not(:last-child){
			margin-right: 1px;
		}
	}
	&-phone{
		padding: 4px 0;
	}
	&-phone__num{
		display: block;
		width: max-content;
		font-weight: 500;
	}
	&-phone__messenger{
		display: flex;
		align-items: center;
		color: $mainColor;
		.icon{
			display: inline-block;
			margin-left: 4px;
			font-size: 14px;
		}
	}
	&-discr__list{
		padding-top: 8px;
	}
	&-discr__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-discr__attribute{
		color: $secondText;
	}
	&-popup{
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		width: 208px;
		height: 103px;
		background: #FCFAF7;
		box-shadow: 0px 10px 19px -15px rgba(66, 62, 56, 0.4);
		border-radius: 13px;
		border-radius: 1px solid $border;
		padding: 10px 14px;
	}
	&-popup__list{
		position: relative;
		padding-bottom: 2px;
		margin-bottom: 10px;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background: $border;
		}
	}
	&-popup__item{
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 8px;
		&:hover{
			color: $mainColor;
		}
	}
	&-popup__delete{
		&:hover{
			color: $mainColor;
		}
	}
}

//ВВод данных
.entry{
	margin-top: 16px;
	&-title{
		font-weight: 500;
		margin-bottom: 8px;
	}
	&-subtitle{
		display: block;
		font-size: 12px;
		line-height: 16px;
		color: $secondText;
		margin-top: 2px;
		font-style: italic;
	}
	&-input{
		width: 100%;
		border: 1px solid $input;
		border-radius: 9px;
		padding: 12px 14px;
		color: $input;
		&::placeholder{
			color: $input;
		}
		&:hover{
			border-color: $mainColor;
		}
		&:focus{
			border-color: $mainColor;
		}
	}
	&-textarea{
		width: 100%;
		border: 1px solid $input;
		border-radius: 9px;
		padding: 12px 14px;
		color: $input;
		&::placeholder{
			color: $input;
		}
		&:hover{
			border-color: $mainColor;
		}
		&:focus{
			border-color: $mainColor;
		}
	}
	&-input-second{
		display: flex;
		height: 24px;
		width: 79px;
	}
	&-input__currency{
		border-radius: 6px 0 0 6px;
		background: $mainColor;
		color: $white;
		width: 20px;
		height: 24px;
		display: block;
		padding: 3px 4px;
	}
}
//Ввод данных конец 
.burger{
	&__profile{
		position: fixed;
		top: 74px;
		left: -400px;
		z-index: 999;
		width: 360px;
		height: 100vh;
		background: $white;
		padding: 24px 16px;
		font-size: 18px;
		line-height: 24px;
		transition: all .5s;
		&.open{
			left: 0;
		}
	}
	&__profile-link{
		margin-bottom: 14px;
		display: block;
		&:hover{
			color: $mainColor;
		}
		&:focus{
			color: $mainColor;
		}
	}
}