.header{
   width: 100%;
   height: 74px;
   background: $textColor;
   .container{
      display: flex;
      align-items: center;
      height: 100%;
   }
   .btn{
      width: 171px;
      margin-left: 24px;
      order: 2;
   }
   .btn-contour{
      margin-left: auto;
      order: 1;
   }
   .icon{
      color: $mainColor;
      font-size: 23px;
      margin-left: 20px;
   }
   .icon{
      display: none;
   }
   .icon-heart{
      margin-left: auto;
   }
   .burger,
   .burger-second{
      display: none;
      width: 34px;
      justify-content: center;
      .icon-burger{
         display: block;
      }
      .icon-close{
         display: none;
      }
      &.open{
         .icon-burger{
            display: none;
         }
         .icon-close{
            display: block;
         }
         .icon-burger-second{
            display: none !important;
         }
      }
   }
}
.nav{
   display: flex;
   color: $white;
   &-item{
      cursor: pointer;
      display: inline-block;
      margin-left: 24px;
      &:hover{
         color: $mainColor;
      }
   }
}
.footer{
   background-color: $textColor;
   padding: 32px 0 48px;
   color: $white;
   &-content{
      display: flex;
      justify-content: space-between;
   }
   &-list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 44px;
      grid-row-gap: 35px;
      padding-bottom: 35px;
   }
   &-list__item{
      width: 160px;

   }
   &__copyright{
      margin-top: 60px;
   }
}
.mainBlock{
   padding: 64px 0 44px;
   &-content{
      display: flex;
      justify-content: space-between;
   }
   &__body{
      width:878px; 
   }
   &-footer{
      p{
         padding-bottom: 20px;
      }
      .h2{
         padding: 9px 0;
      }
      .h3{
         padding: 9px 0 16px;
      }
   }
}
.sidebar{
   width: 266px;
   transition: all .5s;
   &.open{
      left: 0;
   }
   &-nav__item{
      padding-bottom: 14px;
      display: flex;
      align-items: center;
   }
   &-nav__link{
      margin-right: 5px;
      &:hover{
         color: $mainColor;
      }
   }
   &-filter__item{
      padding: 14px 0;
      position: relative;
      font-weight: 500;
      &::after{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 1px;
         border-radius: 12px;
         background: $border;
      }
      &.sidebar-filter__item-faq {
         &:after {
            display: none;
         }
      }
   }
   &-filter__header{
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon{
         font-size: 10px;
      }
      &.open{
         .icon{
            transform: rotate(180deg);
         }
      }
      &:hover{
         .icon{
            color: $mainColor;
         }
      }
   }
   &-filter__body{
      display: none;
      width: 100%;

   }
   &-choice__list{
      padding-top: 14px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 14px;
   }
   &-choice__item{
      font-weight: 400;
      &:hover{
         color: $mainColor;
      }
      &.active{
         color: $mainColor;
      }
   }
   &__description {
      padding-top: 12px;
      font-weight: 400;
   }
}
.mainBlock-filter{
   padding-top: 46px;
   &__btn{
      display: flex;
      .btn{
         width: 166px;
         height: 42px;
         &.active{
             background: $mainColor;
             .icon{
                 transform: rotate(180deg);
             }
         }
         .icon{
            font-size: 10px;
         }
         margin-right: 6px;
      }
   }
   &__item{
      display: none;
      margin-top: 6px;
      padding: 24px;
      background: $white;
      border-radius: 12px;
      box-shadow: 0px 0px 19px -11px rgba(44, 40, 35, 0.32);
      .btn{
         width: 200px;
         height: 45px;
         margin-right: 15px;
      }
   }
   &__titleMobile{
      display: none;
   }
   &__title{
      margin-bottom: 7px;
   }
   &__subtitle{
      display: inline-block;
      margin-bottom: 24px;
      margin-right: 5px;
      color: $secondText;
      font-size: 14px;
      line-height: 18px;
   }
   &__breadcrumbs{
      display: inline-block;
      color: #999896;
      font-size: 14px;
      line-height: 18px;
   }
}

.mainBlock{
   &-table__title{
      font-weight: 500;
      display: inline-block;
      margin-bottom: 8px;
   }
   &-table__row{
      position: relative;
      width: 100%;
      display: flex;
      padding-bottom: 20px;
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 1px;
         background: $border;
         background-repeat: 12px;
      }
      &:not(:first-child){
         padding-top: 20px;
      }
      &:last-child{
         margin-bottom: 20px;
      }
   }
   &-table__column{
      position: relative;
      width: calc(100% / 3);
      &:not(:first-child){
         padding-left: 20px;
         &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            background: $border;
            background-repeat: 12px;
         }
      }
      &:not(:last-child){
         padding-right: 20px;
      }
      .select{
         &:not(:last-child){
            margin-bottom: 16px;
         }
      }
      .check{
         &:not(:last-child){
            margin-bottom: 20px;
         }
      }
   }
   &-table__list{
      padding-top: 6px;
   }
   &-table__list--grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 2em;
      grid-gap: .5em;
   }
   &-table__item{
      display: block;
      &:not(:last-child){
         margin-bottom: 14px;
      }
   }
   &-card{
      margin: 40px 0 48px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 32px;
      grid-column-gap: 32px;
   }
   &-table-js{
      display: none;
      &.open{
         display: block;
      }
   }
}

.errorBlock{
   &-content{
      text-align: center;
      padding: 202px 0;
   }
   &-img{
      display: inline-block;
      margin-bottom: 12px;
   }
   &-text{
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 18px;
      color: #000;
   }
   &-link{
      font-size: 14px;
      line-height: 18px;
      color: $mainColor;
   }
   &-employee{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 32px;
      grid-column-gap: 32px;
      padding-bottom: 64px;
   }
}
.settingsBlock{
   width: 328px;
   .entry{
      margin-bottom: 16px;
   }
   .check{
      padding: 2px 0 22px
   }
   .btn{
      width: 200px;
   }
}
.questionnaireBlock{
   .btn{
      margin-bottom: 32px;
      width: 200px;
   }
   &-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 32px;
      grid-row-gap: 32px;
   }
   .cardEmployee-discr__item{
      display: block;
      margin-bottom: 6px;
   }
}
.replenishBlock{
   &-balance{
      display: flex;
      align-items: center;
      margin-bottom: 16px;
   }
   .h3{
      margin-left: 8px;
   }
   .entry{
      width: 368px;
      margin-bottom: 12px;
   }
   .btn{
      width: 368px;
      margin-bottom: 48px;
   }
   &-table__row{
      width: 100%;
      display: flex;
      position: relative;
      &:not(:last-child){
         &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: $border;
         }
      }
   }
   &-table__title{
      margin-bottom: 12px;
   }
   &-table__header{
      &::after{
         display: none;
      }
      &.replenishBlock-table__row{
         padding: 0 0 4px;
      }
   }
   &-table__row{
      padding: 12px 0;
      &:last-child{
         padding: 12px 0 0;
      }
   }
   &-table__money{
      width: 253px;
      margin-right: 8px;
   }
   &-table__date{
      margin-left: auto;
   }
}
.createInfo{
   .entry-textarea{
      height: 104px; 
   }
   .entry-input{
      &:not(:last-child){
         margin-bottom: 8px;
      }
   }
   .check-choice{
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
   .mainBlock-table__column{
      .check{
         &:not(:last-child){
            margin-bottom: 12px;
         }
      }
   }
   .mainBlock-table__hasTitle{
      flex-wrap: wrap;
      .mainBlock-table__title{
         width: 100%;
         margin-bottom: 16px;
      }
      .mainBlock-table__column{
         &:nth-child(2){
            padding-left: 0;
            &::after{
               display: none;
            }
         }
      }
      .mainBlock-table__item{
         margin-bottom: 18px;
      }
      .h3{
         margin-bottom: 18px;
      }
      .mainBlock-table__list--grid{
         .mainBlock-table__item{
            width: 306px;
            margin-right: 20px;
         }
      }
   }
   .mainBlock-table__item{
      .entry{
         margin: 0;
      }
   }
   .entry-choice{
      display: flex;
   }
   .entry-choice__item{
      width: 50%;
      display: flex;
      align-items: center;
      &:not(:first-child){
         .entry-choice__title{
            margin-left: 8px;
         }
      }
      .entry-input{
         margin: 0;
      }
   }
   .entry-choice__title{
      margin-right: 8px;
   }
   .btn{
      width: 200px;
      margin-right: 12px;
      margin-top: 32px;
   }
}
.mainBlock-table__item--double{
   display: flex;
   flex-wrap: wrap;
   .entry{
      display: none;
      padding-left: 25px;
      // display: flex;
      align-items: center;
   }
   .entry-title{
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $secondText;

   }
   .check{
      margin-bottom: 0 !important;
   }
   .entry-input{
      display: inline-block;
      width: 61px;
      height: 24px;
      padding: 3px 8px;
      border-radius: 0 6px 6px 0;
   }
   .check--double{
      display: none;
      padding-left: 25px;
      margin-top: 7px;
   }
   .entry-input--second{
      display: flex;
   }
}
.locate{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   &-title{
      width: 100%;
      margin-bottom: 16px;
   }
   &-map{
      width: calc((100% / 3) * 2);
      height: 250px;
      border-radius: 9px;
      img{
         width: 100%;
         height: 100%;
      }
   }
   &-discr{
      width: calc(100% / 3);
      padding-left: 20px;
   }
}

.download{
   &-title{
      display: block;
      font-weight: 500;
      padding-bottom: 12px;
   }
   &-item{
      margin-bottom: 5px;
   }
   &-list{
      padding-left: 25px !important;
      list-style: disc !important;
   }
   &-photo__list{
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 24px;
      position: relative;
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         right: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: $border;
      }
   }
   &-photo__item{
      position: relative;
      margin-right: 20px;
      width: 150px;
      height: 150px;
      border-radius: 12px;
      border: 1px solid transparent;
   }
   &-photo__img{
      width: 100%;
      height: 100%;
      border-radius: 12px;
      overflow: hidden;
      img{
         height: 100%;
         object-fit: cover;
      }
   }
   &-photo__del{
      cursor: pointer;
      position: absolute;
      top: -2px;
      right: -2px;
      z-index: 2;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: $mainColor;
      .icon{
         font-size: 9px;
         color: $white;
         font-weight: 700;
      }
   }
   &-photo__discr{
      padding: 35px 12px 13px;
      border-color: $mainColor;
      background: #FAF7F2;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      color: $mainColor;
   }
   &-photo__info{
      width: 100%;
      &:last-child{
         margin-top: 30px;
         width: 100%;
         display: flex;
         justify-content: space-between;
         
      }
      span{
         font-size: 18px;
      }
   }
   &-photo__link{
      background: #ECEBE8;
      border-radius: 12px;
      color: $secondText;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
   }
}
.control{
   padding-bottom: 24px;
   position: relative;
   &::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $border;
   }
   &-text{
      margin-bottom: 12px;
      width: 674px;
   }
   &-link{
      font-style: italic;
      font-weight: 500;
   }
   &-input{
      width: 328px;
      height: 135px;
      border-radius: 12px;
      border: 1px solid $mainColor;
      background: #FAF7F2;
      color: $mainColor;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.downloadVideo{
   padding-bottom: 24px;
   position: relative;
   &::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $border;
   }
   &-title{
      padding-bottom: 20px;
      font-weight: 500;
   }
   &-input{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 328px;
      height: 180px;
      background: #ECEBE8;
      border-radius: 12px;
      color: $secondText;
   }
}

.popup{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   height: 100vh;
   background: radial-gradient(109.17% 49.94% at 50% 50.06%, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0.94) 100%);
   color: $white;
   text-align: center;
   .d-flex{
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
   }
   &-body{
      display: block;
      margin: 0 auto;
      width: 350px;
      height: max-content;
   }
   .h2{
      padding-bottom: 12px;
   }
   &-text{
      padding-bottom: 16px;
   }
   &-link{
      color: $mainColor;
   }
}

.popupRegistration{
   .icon-close{
      cursor: pointer;
      position: absolute;
      top: 31px;
      right: 24px;
      font-size: 22px;
      color: $textColor;
   }
   .h1{
      padding-bottom: 12px;
   }
   .entry{
      margin-top: 0;
      margin-bottom: 16px;
   }
   .popup-body{
      position: relative;
      width: 400px;
      text-align: left;
      padding: 24px;
      background: $white;
      border-radius: 12px;
      color: $textColor;
   }
   .check-round{
      margin-top: 10px;
   }
   .check-title{
      margin-bottom: 10px;
   }
   .check-hint{
      padding-top: 4px;
      font-size: 14px;
      line-height: 18px;
      color: $secondText;
   }
   .check{
      margin-bottom: 16px;
      align-items: start;
   }
   .btn{
      width: 100%;
   }
   .check-text{
      margin-left: 6px;
   }
   .check-rules{
      display: flex;
      padding-bottom: 16px;
      a{
         color: $mainColor;
      }
   }
}
.popupEnter{
   .icon-close{
      cursor: pointer;
      position: absolute;
      top: 31px;
      right: 24px;
      font-size: 22px;
      color: $textColor;
   }
   .h1{
      padding-bottom: 12px;
   }
   .popup-body{
      position: relative;
      width: 400px;
      text-align: left;
      padding: 24px;
      background: $white;
      border-radius: 12px;
      color: $textColor;
   }
   .btn{
      width: 100%;
   }
   .entry{
      margin-top: 0;
      margin-bottom: 16px;
   }
   &-link{
      padding: 4px 0 20px;
      text-align: center;
      color: $secondText;
   }
   &-link__create{
      padding-top: 20px;
      text-align: center;
      span{
         margin-right: 5px;
      }
      a{
         color: $mainColor;
      }
   }
}

.employee{
   padding: 64px 0;
   .icon-star-full{
      color: $yellow;
      fill: $yellow;
   }
   .breadcrumbs{
      margin-bottom: 48px;
   }
   &-information{
      display: flex;
      justify-content: space-between;
      margin-bottom: 48px;
   }
   &-files{
      width: 470px;
   }
   &-files__photo{
      display: flex;
      margin-bottom: 24px;
   }
   &-files__video{
      width: 470px;
      height: 258px;
      border-radius: 12px;
      overflow: hidden;
      .h2 {
         display: none;
      }
      video{
         width: 100%;
         height: 100%;
      }
   }
   &-files__img{
      width: 368px;
      height: 460px;
      margin-left: auto;
      display: flex;
      justify-content: center;
      img{
         height: 100%;
         object-fit: cover;
      }
   }
   &-files__images{
      cursor: pointer;
      height: 100%;
      width: max-content;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
   }
   &-description{
      width: 674px;
   }
   &-subtitle{
      margin-bottom: 20px;
      font-style: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      .icon{
         margin-right: 8px;
         color: $mainColor;
         font-size: 14px;
      }
   }
   &-icon{
      margin-bottom: 30px;
      .icon{
         font-size: 21px;
         &:not(:last-child){
            margin-right: 20px;
         }
         &:last-child{
            float: right;
            color: $mainColor;
         }
      }
   }
   &-connect{
      background: #F5F3F0;
      border-radius: 12px;
      padding: 18px 20px 20px;
      margin-bottom: 16px;
   }
   &-connect__data{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      margin-bottom: 12px;
      position: relative;
      .btn{
         padding:0 14px ;
         display: flex;
         align-items: center;
         height: 30px;
         border-radius: 47px;
         font-size: 14px;
         line-height: 18px;
      }
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 1px;
         background: #EDEBE6;
      }
   }
   &-connect__num{
      font-size: 22px;
      line-height: 28px;

   }
   &-connect__info{
      color: $green2;
   }
   &-warning{
      color: $red;
      margin-bottom: 24px;
   }
   &-text{
      margin-bottom: 24px;
   }
   &-table__row{
      position: relative;
      display: flex;
      padding-bottom: 20px;
      &:not(:last-child){
         margin-bottom: 20px;
         &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: #EDEBE6;
         }
      }
   }
   &-table__column{
      width:  calc(100% / 2);
      padding: 0 20px;
      position: relative;
      &::after{
         content: '';
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         width: 1px;
         height: 100%;
         background: #EDEBE6;
      }
      &:last-child{
         padding-right: 0;
      }
      &:first-child{
         padding-left: 0;
         &::after{
            display: none;
         }
      }

   }
   &-table__column-double{
      .column-double__item{
         &:not(:last-child){
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;
            &::after{
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               right: 0;
               width: 100%;
               height: 1px;
               background: #EDEBE6;
            }
         }
      }
   }
   &-table__item{
      display: flex;
      justify-content: space-between;
      &:not(:last-child){
         margin-bottom: 8px;
      }
   }
   &-data__title{
      color: $secondText;
      max-width: 160px;
   }
   &-data__value{
      max-width: 148px;
      text-align: right;
   }
   &-table__column-solo{
      width: unset;
      .employee-column__item{
         width: 200px;
      }
      .employee-table__column-header{
         font-weight: 500;
         margin-bottom: 12px;
      }
      .employee-column__item--title{
         color: $secondText;
      }
   }
}

.price{
   &-employee{
      .icon-nice{
         color: $green1;
      }
      .icon-money{
         color: $red;
      }
      .icon-normal{
         color: $orange;
      }
      .price-none{
         color: $secondText;
      }
      .icon{
         margin-right: 5px;   
      }
      margin-bottom: 48px;
   }
   &-title{
      margin-bottom: 16px;
   }
   &-hint{
      display: flex;
      align-items: center;
      margin-bottom: 16px;
   }
   &-hint__item{
      display: flex;
      align-items: center;
      margin-right: 20px;
   }
   &-body{
      border-radius: 12px;
      background: #F5F3F0;
      padding: 24px;
   }
   &-table__title{
      margin-bottom: 12px;
   }
   &-table__item{
      display: flex;
      align-items: center;
      &:not(:last-child){
         margin-bottom: 8px;
      }
   }
   &-cena{
      color: $red;
      margin-left: 3px;
   }
   &-nope{
      color: #999896;
   }
}

.review{
   &-employee{
      display: flex;
      justify-content: space-between;
   }
   &-employee__title{
      margin-bottom: 16px;
   }
   &-list{
      display: flex;
      flex-wrap: wrap;
      width: 780px;
   }
   &-employee__card{

   }
   &-item{
      &:nth-child(2n){
         margin-left: 24px;
      }
   }
   &-give{
      width: 364px;
      .btn{
         width: 100%;
      }
      .icon{
         cursor: pointer;
      }
   }
   &-give__textarea{
      margin: 12px 0;
      background: $border;
      border-radius: 12px;
      padding: 10px 14px;
      width: 100%;
      height: 164px;
      border: none;
      &::placeholder{
         color: $input;
      }
   }
}

.card-score{
   background: $white;
   border-radius: 12px;
   padding: 24px;
   display: flex;
   justify-content: space-between;
   width: 378px;
   .card-score__stars{
      .icon{
         margin-left: 3px;
      }
   }
   &-photo{
   }
   &__img{
      width: 64px;
      height: 64px;
      img{
         height: 100%;
         object-fit: cover;
      }
   }
   &__content{
      width: 250px;
      .icon-star-full{
         font-size: 18px;
      }
      .icon-triangle-down{
         font-size: 9px;
         font-weight: 700;
      }
   }
   &__header{
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 8px;
      margin-bottom: 8px;
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: #EDEDED;
      }
   }
   &__title{
      font-weight: 500;
   }
   &__estimation{
      margin-left: auto;
      font-weight: 500;
      margin-right: 5px;
      display: flex;
      align-items: end;
      .icon{
         margin-left: 3px;
      }
   }
   &__list{
      padding-bottom: 8px;
      margin-bottom: 8px;
      position: relative;
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: #EDEDED;
      }
   }
   &__item{
      display: flex;
      align-items: center;
      padding-bottom: 2px;
      font-size: 14px;
      font-weight: 18px;
   }
   &__stars{
      margin-left: 1px;
      display: flex;
      .icon{
      }
      .icon-star-js{
         cursor: pointer;
         padding: 0 2px;
         &.js-hover{
            .icon{
               color: $red;
            }
         }
         &.active{
            .icon{
               color: $red;
            }
         }
      }
   }
   &__text{
      margin-bottom: 6px;
   }
   &__date{
      font-size: 14px;
      line-height: 18px;
      color: #999896;
   }
}
input,
.entry-input,
textarea {
   color: $textColor;
}
.slick{
   height: 460px;
   width: 90px;
   overflow: hidden;
   position: relative;
   border-radius: 12px;
   &-item__img{
      cursor: pointer;
      width: 90px;
      height: 131px;
      border-radius: 12px;
      overflow: hidden;
      img{
         height: 100%;
         object-fit: cover;
      }
   }
   &-prev{
      display: none !important;
   }
   &-next{
      position: absolute;
      bottom: 0;
      left: 0;
      cursor: pointer;
      border-radius: 12px;
      height: 47px;
      background: $textColor;
      width: 90px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: $white;
      opacity: .9;
      padding-bottom: 5px;
      .icon{
         font-size: 10px;
      }
   }
}
.block-back {
   justify-content: center;
   display: none;
}
.btn-back {
   color: $mainColor;
   display: none;
}
.popupFancyBox{

   .popup-close{
      cursor: pointer;
      position: absolute;
      font-size: 23px;
      top: -12px;
      right: -12px;
      z-index: 999;
      border-radius: 50%;
      background: #000;
   }
   .icon-none{
      color: $white;
   }
   .popup-body{
      width: fit-content;
      height: unset;
      max-width: 1100px;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &-img{
      position: relative;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      padding: 10px;
      background: $white;
   }
   img{
      height: inherit;
      width: inherit;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
   }
}